magma-lang
mantle
jmapper
-e git+https://github.com/Kuree/cgra_pnr#egg=pkg\&subdirectory=thunder
-e git+https://github.com/Kuree/cgra_pnr#egg=pkg\&subdirectory=cyclone
archipelago
-e git+https://github.com/StanfordAHA/gemstone#egg=gemstone
-e git+https://github.com/StanfordAHA/canal#egg=canal
-e git+https://github.com/phanrahan/peak.git#egg=peak
-e git+https://github.com/StanfordAHA/lassen.git#egg=lassen
-e git+https://github.com/rdaly525/MetaMapper.git#egg=metamapper
